<div>
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h2>Login</h2>
                </div>
                <form [formGroup]="loginForm" class="login-form" (ngSubmit)="loginFirebase()">
                    <p>
                        <input type="email" formControlName="email" placeholder="Correo"/>
                    </p>
                    <p>
                        <input type="password" formControlName="password" placeholder="Contraseña"/>
                    </p>
                    <ng-template>
                        <div class="mb-3" [ngIf]="errorMessage || errorMessage !== ''">
                            <div class="alert alert-danger" role="alert">
                                {{errorMessage}}
                            </div>
                        </div>
                    </ng-template>
                    <p>
                        <!--<button (click)="login()">Ingresar</button>-->
                        <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>